.main-logo {
  width: 60px;
  height: 60px;
}
mat-toolbar{
  background: #185BB2;
}
.searchbar{
    float:right;
    margin-top: 8px;
   margin-right: 16px;
  font-size: 14px;
  height:37px;
  padding:8px;
  width:500px;
  border: 1px solid #999;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
overflow: hidden;
margin: 0px;
}
span{
  width: 100%;
  font-size:15px;
  text-align: center; 
  color: white
}

