<mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
</mat-form-field>

<div class="table-panel">
    <div class="table-scroll">
  <table mat-table [dataSource]="dataSource" matSort multiTemplateDataRows class="mat-elevation-z8">
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
          [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
        </mat-checkbox>
        Select
      </th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
          [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
        </mat-checkbox>
      </td>
    </ng-container>


  <ng-container matColumnDef="Label">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> LABEL </th>
    <td mat-cell *matCellDef="let element"> {{element.Label}} </td>
  </ng-container>

  
  <ng-container matColumnDef="API_Name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> API NAME </th>
    <td mat-cell *matCellDef="let element"> {{element.API_Name}} </td>
  </ng-container>

 
  <ng-container matColumnDef="Description">
    <th mat-header-cell *matHeaderCellDef> DESCRIPTION </th>
    <td mat-cell *matCellDef="let element"> {{element.Description}} </td>
  </ng-container>

 
  <ng-container matColumnDef="sync">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> LAST SYNC </th>
    <td mat-cell *matCellDef="let element"> {{element.sync}} </td>
  </ng-container>


  <ng-container matColumnDef="Deployed">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> DEPLOYED </th>
    <td mat-cell *matCellDef="let element"> {{element.Deployed}} </td>
  </ng-container>

  <ng-container matColumnDef="expandedDetail">
    <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
      <div class="example-element-detail"
           [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
           <table>
             <thead>
               <tr>
               <td>Account_Name</td>
               <td>CR_Name</td>
               <td>State</td>
               <td>Country</td>
               <td>Account_Record</td>
              </tr>
             </thead>
             <tbody>
               <tr>
                 <td>{{element.Account_Name}}</td>
                 <td>{{element.CR_Name}}</td>
                 <td> {{element.State}} </td>
                  <td>{{element.Country}}</td>
                  <td>{{element.Account_Record}}</td>
          <!-- <div class="example-element-position"> {{element.position}} </div>
          <div class="example-element-symbol"> {{element.symbol}} </div>
          <div class="example-element-name"> {{element.name}} </div>
          <div class="example-element-weight"> {{element.weight}} </div>
        <div class="example-element-description">
          {{element.description}}
        </div> -->
        </tr>
        <tr>
          <td>{{element.Account_Name}}</td>
                 <td>{{element.CR_Name}}</td>
                 <td> {{element.State}} </td>
                  <td>{{element.Country}}</td>
                  <td>{{element.Account_Record}}</td>
            </tr>
             <tr>
              <td>{{element.Account_Name}}</td>
              <td>{{element.CR_Name}}</td>
              <td> {{element.State}} </td>
               <td>{{element.Country}}</td>
               <td>{{element.Account_Record}}</td>
                </tr>
      </tbody>
        </table>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"
      class="example-element-row"
      [class.example-expanded-row]="expandedElement === element"
      (click)="expandedElement = expandedElement === element ? null : element">
  </tr>
  <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
</table>
</div>
</div>
