<table mat-table [dataSource]="dataSource" MatSort class="mat-elevation-z8">


  <ng-container matColumnDef="select">
    <th mat-header-cell *matHeaderCellDef>
      <mat-checkbox (change)="$event ? masterToggle() : null"
                    [checked]="selection.hasValue() && isAllSelected()"
                    [indeterminate]="selection.hasValue() && !isAllSelected()"
                    [aria-label]="checkboxLabel()">
      </mat-checkbox>
      Select
    </th>
    <td mat-cell *matCellDef="let row">
      <mat-checkbox (click)="$event.stopPropagation()"
                    (change)="$event ? selection.toggle(row) : null"
                    [checked]="selection.isSelected(row)"
                    [aria-label]="checkboxLabel(row)">
      </mat-checkbox>
    </td>
  </ng-container>


  <ng-container matColumnDef="Label">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Label </th>
    <td mat-cell *matCellDef="let element"> {{element.Label}} </td>
  </ng-container>

  
  <ng-container matColumnDef="API_Name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> API Name </th>
    <td mat-cell *matCellDef="let element"> {{element.API_Name}} </td>
  </ng-container>

 
  <ng-container matColumnDef="Description">
    <th mat-header-cell *matHeaderCellDef> Description </th>
    <td mat-cell *matCellDef="let element"> {{element.Description}} </td>
  </ng-container>

 
  <ng-container matColumnDef="sync">
    <th mat-header-cell *matHeaderCellDef> sync </th>
    <td mat-cell *matCellDef="let element"> {{element.sync}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"
      (click)="selection.toggle(row)">
  </tr>
</table>
<!-- 
<table id="tableSortExample" mdbTable class="z-depth-1">
  <thead>
    <tr>
      <th *ngFor="let head of headElements; let i = index" aria-controls="tableSortExample" scope="col" [mdbTableSort]="elements" [sortBy]="headElements[i]">{{head | titlecase}}
        <mdb-icon fa icon="sort"></mdb-icon>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let el of elements; let i = index">
      <th scope="row">{{el.id}}</th>
      <td>{{el.first}}</td>
      <td>{{el.last}}</td>
      <td>{{el.handle}}</td>
    </tr>
  </tbody>
</table> -->